#root {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header,
section {
  border-radius: 10px;
  padding: 30px;
  background-color: rgb(230, 249, 232);
}

header h1 {
  margin-top: 0;
  margin-bottom: 50px;
}

form {
  display: flex;
  justify-content: center;
  gap: 30px;
}

label {
  place-content: center;
}

input {
  height: 25px;
  border-radius: 3px;
  background-color: white;
  color: black;
}

.add-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #16eba1;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #109868;
}

section {
  margin-top: 20px;
}

section h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list-box {
  border: 3px solid #16eba1;
  border-radius: 10px;
  background-color: white;
  width: fit-content;
  padding: 20px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  text-align: left;
}

.list-box p {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.delete-btn,
.complete-btn,
.cancel-btn {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 5px;
  width: 80px;
  border-radius: 3px;
}

.delete-btn {
  border: 2px solid red;
  margin-right: 10px;
}

.delete-btn:hover {
  background-color: red;
  color: white;
  font-weight: bold;
}

.complete-btn {
  border: 2px solid blue;
}

.complete-btn:hover {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.cancel-btn {
  border: 2px solid green;
}

.cancel-btn:hover {
  background-color: green;
  color: white;
  font-weight: bold;
}

.done-box {
  margin-top: 40px;
}
